body {
    margin: 0;
    padding: 0;
    font-family: Product Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    min-height: 100dvh;
    display: grid;
    place-items: center;
}

.container {
    width: 400px;
    margin: 0 auto;
    border: 1px solid #e7e7e7;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: #110c2e26 0 48px 100px;
    height: auto;
    position: relative;
    overflow: hidden;
}

.title {
    width: fit-content;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 1rem;
}

#game {
    margin-bottom: 1rem;
}

.player-stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    gap: 1rem;
}

.player-stat {
    background-color: #e7e7e7;
    flex: 1;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
}

.player-name {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0 0 0.5rem;
}

.player-walls {
    margin: 0;
}


#peer-container {

}

#peer-id-input {
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #e7e7e7;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
}

.button {
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    background: linear-gradient(90deg, #F7612C, #CC2B60, #602F7F);
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    background: linear-gradient(90deg, #F7612C, #CC2B60, #602F7F);
    transform: scale(1.01);
}

.button:active {
    transform: scale(0.99);
}

.button:focus-visible {
    outline: 2px solid #F7612C;
    outline-offset: 2px;
}

.multiplayer-link {
    text-decoration: none;
    color: #656565;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 1rem;
    display: block;
    text-align: center;
}

#chat {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 400px;
    height: 400px;
    border: 1px solid #e7e7e7;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: #110c2e26 0 48px 100px;
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease-in;
}

#chat > * {
    box-sizing: border-box;
}

#chat.collapsed {
    transform: translateY(calc(100% - 30px));
}

#chat-header {
    background-color: #e7e7e7;
    padding: 0.5rem;
    border-radius: 1rem 1rem 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

#chat-header > h3 {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 700;
}


#chat-container {
    flex: 1;
    overflow: hidden;
    box-sizing: border-box;
}

#chat-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-top: 1px solid #e7e7e7;
}

#chat-input {
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #e7e7e7;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
}


ul#chat-messages {
    list-style: none;
    margin: 0;
    overflow: hidden;
    overflow-y: scroll;
    flex: 1;
    padding: .5rem;
    max-height: 100%;
    flex-grow: 0;
    box-sizing: border-box;
}

ul > li.opponent {
    text-align: left;
    padding: .5rem;
    width: fit-content;
    border-radius: 0 0.5rem .5rem .5rem;
    color: white;
    background: linear-gradient(0deg, #F7612C, #CC2B60, #602F7F) fixed;
    margin-bottom: .25rem;
}

ul > li.me {
    text-align: right;
    padding: .5rem;
    background-color: #e7e7e7;
    width: fit-content;
    border-radius: 0.5rem 0 0.5rem 0.5rem;
    margin-bottom: .25rem;
    margin-left: auto;
}

ul > li.system {
    text-align: center;
    padding: .5rem;
    background-color: #e7e7e7;
    width: fit-content;
    border-radius: 0.5rem;
    margin-bottom: .25rem;
    margin-left: auto;
    margin-right: auto;
}
